
.lives-list-page {
    position: absolute;
    top: 120px;
    left: -10px;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lives-list-header h1 {
    margin: 0;
    color: #32373d;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
}

.lives-list-header p {
    margin: 4px 0 10px;
    color: #32373d;
    font-size: 11px;
    font-weight: 800;
}

.lives-list-header {
    text-align: left;
}

.lives-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    gap: 36px 64px;
    margin-top: 2px;
}

.transmission-card {
    width: 260px;
    height: 185px;
    background: #A5B9D4;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
}

.transmission-video {
    height: 105px;
    background: #000000;
    border-radius: 8px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.transmission-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 40px;
}

.transmission-live-icon {
    width: 25px;
}

.transmission-info {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.transmission-user:last-child {
    margin-top: 1px;
}

.transmission-info h2 {
    margin: 0;
    color: #32373d;
    font-size: 12px;
    font-weight: 800;

    text-align: left;
}

.transmission-user {
    display: flex;
    align-items: center;
    gap: 6px;

    color: #32373d;
    font-size: 10px;
    font-weight: 700;
}

.transmission-user img {
    width: 14px;
    height: 14px;

    filter:
        brightness(0)
        saturate(100%)
        invert(19%)
        sepia(6%)
        saturate(601%)
        hue-rotate(176deg)
        brightness(94%)
        contrast(88%);
}

.eye-icon {
    font-size: 14px;
}


.transmission-card {
    border: 0;
    text-align: left;
    cursor: pointer;
}

.transmission-card:hover {
    transform: translateY(-4px);
    filter: brightness(1.04);
    transition: 0.2s ease;
}